@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@500&family=Unica+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@font-face {
  font-family: "Clash Display";
  src: url("./assets/fonts/clash-display/WEB/fonts/ClashDisplay-Regular.ttf");
}

html,
body,
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
html {
  --scale-sm-global: 0.4;
  --scale-global: 0.4;
  --scale-lg-global: 0.6;
  --scale-ellipse: 0.6;
  --sheild-visibility: visible;
  --sheild-scale: 1;

  @media (min-width: 900px) {
    --scale-global: 0.6;
    --scale-lg-global: 0.8;
  }
  @media (min-width: 1200px) {
    --scale-global: 1;
  }
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::placeholder {
  color: rgba(255, 255, 255, 0.25);
  font-family: "Montserrat";
  font-size: 0.875rem;
}

input,
textarea {
  color: #fff;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0 30px #150e28 inset !important;
}
